/user/home/wz22079/my_openghg/openghg_inversions/openghg_inversions/__pycache__/
/user/home/wz22079/my_openghg/openghg_inversions/openghg_inversions/config/__pycache__/
/user/home/wz22079/my_openghg/openghg_inversions/openghg_inversions/hbmcmc/__pycache__/
